.form{
    width: 50%;
    margin: 0px auto 0px auto;
    background: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.form .form-field{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    padding: 15px;
    align-items: center;
}

.form h1{
    margin: 10px 0px 50px 30px;
    font-size: 22px;
    color: #333;
    text-align: center;
}

.form span{
    width: 250px;
    text-align: end;
    margin-right: 15px;
    color: #888;
}

.form button{
    width: 50%;
    margin: 50px auto 20px auto;
    padding: 20px;
    border: 2px solid steelblue;
    color: steelblue;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    background: #fff;
    transition: 0.2s;
}

.form button:hover{
    background: steelblue;
    color: white;
}

.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #777;
    margin-bottom: 10px;
    transition: 0.2s;
    width: 100px;
    margin: 0px auto 10px 25%;
    padding: 10px;
}

.link:hover{
    border-radius: 5px;
    background-color: #ddd;
}

input{
    width: 400px;
    font-size: 16px;
    padding: 8px 12px;
    color: #555;
    outline: none;
    transition: 0.1s;
    border-bottom: 1px solid #ccc;
}

input:focus{
    border-color: steelblue;
}

.form .error-label{
    justify-self: center;
    padding: 10px;
    color: firebrick;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    display: none;
}

.form .error-label .icon{
    margin-right: 10px;
}