.search-box{
    display: flex;
    margin: 0 auto 0 auto;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.search-box input {
    border-radius: 15px;
    padding: 5px;
    border: 2px solid #ddd;
    width: 90%;
    height: 100%;
    font-size: 16px;
    color: #555;
    padding: 15px;
}

.search-box input:focus{
    outline: none;
}

.search-box button{
    border: none;
    border-radius: 100%;
    margin-left: 6px;
    width: 40px;
    height: 40px;
    justify-items: center;
    align-items: center;
    padding: 0;
    color: #999;
    cursor: pointer;
}

.search-box button:hover{
    color: #fff;
    background: #999;
}